* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color : #FFF;
    background-color: #374151;
}
.card {
    width: 500px;
    height: 530px;
    background: #fff;
    border-radius: 20px;
    box-shadow:  0 0 10px rgba(0,0,0, 0.2);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: #374151;
	margin-bottom: 1rem;
}

.form {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.form input {
    width: 70%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background: #f2f2f2;
    outline: none;
    margin-right: 10px;
}

.form #btn-add {
    padding: 10px;
    font-size: 1rem;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.items-control {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.items {
    padding: 10px;
    background: #565151;
    border-radius: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-control {
    display: flex;
}

.btn-delete {
    padding: 5px;
    border-radius: 5px;
    background: #e74c3c;
    color: #fff;
    cursor: pointer;
}
